html {
  min-height: 100%;
}

body {
    margin: 0;
    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#25aafc+0,aefce4+35,78f733+89,c47317+100 */
    background: #25aafc; /* Old browsers */
    background: -moz-linear-gradient(top, #25aafc 0%, #aefce4 35%, #78f733 89%, #c47317 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #25aafc 0%,#aefce4 35%,#78f733 89%,#c47317 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #25aafc 0%,#aefce4 35%,#78f733 89%,#c47317 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25aafc', endColorstr='#c47317',GradientType=0 ); /* IE6-9 */


    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#layer-0 {
    position: absolute;
    left: -20000px;
    width: 40000px;
    height: 100%;
    border-bottom: 8px solid darkgray;
    translateZ(0);
    -webkit-translateZ(0);
}

.post {
    width: 10px;
    height: 30px;
    background: gray;
    position: absolute;
    bottom: 0;
}
.truck {
    width: 100px;
    height: 100px;
    background: black;
}
